@inherits LayoutComponentBase

<PageTitle>Motor-Information-Form</PageTitle>

<div class="page">
    <main>
        <div class="px-4 border-bottom bg-primary">
            <Motor_Information_Form.Components.Custom_NavBar>

            </Motor_Information_Form.Components.Custom_NavBar>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
