<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">

        <a style="text-decoration: none; color: black;" href="/"><h1 class="h1 fst-italic fw-bold">ViM<span class="h5 mb-5 opacity-50"> Vehicle Information Management</span></h1></a>

        <ul class="nav nav-pills">
            <li class="nav-item">
                <button class="nav-link text-black fw-bold btn btn-info" href="">Home</button>
            </li>
            <li class="nav-item">
                <a class="nav-link text-black fw-bold btn btn-info" href="">Reg Lookup</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-black fw-bold btn btn-info" href="/VIForm">Information Form</a>
            </li>
        </ul>

    </div>
</nav>