
<div class="mb-3">
    <label for="make" class="form-label">Make</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Renault">
</div>
<div class="mb-3">
    <label for="model" class="form-label">Model</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Clio">
</div>
<div class="mb-3">
    <label for="bodyColour" class="form-label">Body Colour</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Black">
</div>
<div class="mb-3">
    <label for="wheelColour" class="form-label">Wheel Colour</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Chrome Alloy">
</div>
<div class="mb-3">
    <label for="weight" class="form-label">Weight (kg)</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="1000">
</div>
<div class="mb-3">
    <label for="wheelLayout" class="form-label">Wheel Layout</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="4 Axle Rigid Body (AWD)">
</div>
<div class="mb-3">
    <label for="yearManufactured" class="form-label">Year of Manufacture</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="2009">
</div>
<div class="mb-3">
    <label for="activeTax" class="form-label">Is the Vehicle Taxed?</label>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" checked>
        <label class="form-check-label" for="flexRadioDefault1">
            Yes
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault">
        <label class="form-check-label" for="flexRadioDefault2">
            No
        </label>
    </div>
</div>