@page "/"
@using Motor_Information_Form.Data.Models
@using Motor_Information_Form.Data.Services
@inject MotorInformationService MotorInformationService

<div class="container">

    <Motor_Information_Form.Components.ApiDataTable>

    </Motor_Information_Form.Components.ApiDataTable>

</div>

